<a href="https://colab.research.google.com/github/Mahesh200457/Bank-loan-Analaysis-SQL-TABLEAU-/blob/main/bank_loan_analysis_sql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### ***BANK LOAN ANALYSIS ***

# Data Analysis with Visualization

- What are the overall KPI metrics?
- How is the bank doing in terms of good loans vs bad loans?
- What is the average loan amount depending on different income levels?
- How has the number of loan applications changed by month?

In [ ]:
# What are the overall KPI metrics?

# Total Loan Applications
SELECT
    COUNT(DISTINCT id) AS Total_Applications
FROM
    BankLoan


# Total Amount Funded
SELECT
    SUM(loan_amount) AS Total_Amount_Funded
FROM
    BankLoan


# Total Amount Received
SELECT
    SUM(total_payment) AS Total_Amount_Received
FROM
    BankLoan


# Average Interest Rate
SELECT
    ROUND(AVG(int_rate)*100, 2) AS Avg_Int_Rate
FROM
    BankLoan


# Avg DTI
SELECT
    ROUND(AVG(dti)*100, 2) AS Avg_DTI
FROM
    BankLoan

In [ ]:
# How is the bank doing in terms of good loans vs bad loans?

# Good Loan Applications
SELECT
    COUNT(id) AS Good_Loan_Applications
FROM
    BankLoan
WHERE
    loan_status = 'Fully Paid' OR loan_status = 'Current'


# Good Loan Percentage
SELECT
    (COUNT(CASE WHEN loan_status = 'Fully Paid' OR loan_status = 'Current' THEN id END) * 100.0) /
    COUNT(id) AS Good_Loan_Percentage
FROM
    BankLoan


# Good Loan Funded Amount
SELECT
    SUM(loan_amount) AS Good_Loan_Amount_Funded
FROM
    BankLoan
WHERE
    loan_status = 'Fully Paid' OR loan_status = 'Current'


# Good Loan Amount Received
SELECT
    SUM(total_payment) AS Good_Loan_Amount_Received
FROM
    BankLoan
WHERE
    loan_status = 'Fully Paid' OR loan_status = 'Current'


# Bad Loan Applications
SELECT
    COUNT(id) AS Bad_Loan_Applications
FROM
    BankLoan
WHERE
    loan_status = 'Charged Off'


# Bad Loan Percentage
SELECT
    (COUNT(CASE WHEN loan_status = 'Charged Off' THEN id END) * 100.0) /
    COUNT(id) AS Bad_Loan_Percentage
FROM
    BankLoan


# Bad Loan Amount Funded
SELECT
    SUM(loan_amount) AS Bad_Loan_Amount_Funded
FROM
    BankLoan
WHERE
    loan_status = 'Charged Off'


# Bad Loan Amount Received
SELECT
    SUM(total_payment) AS Bad_Loan_Amount_Received
FROM
    BankLoan
WHERE
    loan_status = 'Charged Off'

In [ ]:
# What is the average loan amount depending on different income levels?

WITH IncomeCTE AS (
    SELECT
        CASE
            WHEN annual_income < 5350.86 THEN 'Low Income'
            WHEN annual_income >= 5350.86 AND annual_income < 134939.22 THEN 'Medium Income'
            WHEN annual_income >= 134939.22 THEN 'High Income'
            ELSE 'Unknown'
        END AS IncomeBracket,
        loan_amount
    FROM
        BankLoan
)

SELECT
    IncomeBracket,
    AVG(loan_amount) AS AverageLoanAmount
FROM
    IncomeCTE
GROUP BY
    IncomeBracket;

In [ ]:
# How has the number of loan applications changed by month?

SELECT
    MONTH(issue_date) AS Month_Munber,
    DATENAME(MONTH, issue_date) AS Month_name,
    COUNT(id) AS Total_Loan_Applications
FROM
    BankLoan
GROUP BY
    MONTH(issue_date),
    DATENAME(MONTH, issue_date)
ORDER BY
    MONTH(issue_date)